*\.pyc
\.eggs
*\.egg-info
*__pycache__
snippets\.txt
.idea
\.fuse*
*\.bak
legacy
\.cache*
\.coverage

node_modules*

.DS_Store
.tox/
.vscode/
build-artifacts/
coverage.xml
dist/
docs/.DS_Store
src/.DS_Store

docs/_build/
htmlcov/

package-lock.json
package.json

build/
dependency-graphs/
test-results/
uml-diagrams/
